app/cache
app/logs
app/*.cache
web/bundles
web/uploads
web/sitemap*.xml
app/config/parameters*.yml
vendor
.idea
nbproject
composer.phar

# propel generated classes & config
app/propel/sql
src/*/*/*/Model/om/
src/*/*/*/Model/map/
